<html>
  {{>head}}
  <body>
    {{>header}}

    <section>
      <div class="intro">
        <h1 class="intro-text">I am a JavaScript Engineer and convincing storyteller, believe me. I have eleven pairs of socks.</h1>
      </div>
    </section>

    <section>
      <div class="pdm-block">
        <div class="pdm-block-square">
          <div class="pdm-title">
           <span class="pdm-title-name">Github</span> Recent
          </div>
          <div class="pdm-data">
            aglobof/sass.animations "fix vendor prefixes"
          </div>
          <div class="pdm-data">
            8:01a tmschl/pants "a new pair"
          </div>
          <div class="pdm-data">
            8:01a tmschl/pants "a new pair"
          </div>
        </div>
        <div class="pdm-block-square">
          <div class="pdm-title">
           <span class="pdm-title-name">Runs</span> Recent
          </div>
          <div class="pdm-data">
            7:23a at Blue Bottle Mission
          </div>
          <div class="pdm-data">
            8:01a tmschl/pants "a new pair"
          </div>
          <div class="pdm-data">
            8:01a tmschl/pants "a new pair"
          </div>
        </div>
        <div class="pdm-block-square">
          <div class="pdm-title">
           <span class="pdm-title-name">Coffee</span> Recent
          </div>
          <div class="pdm-data">
            aglobof/sass.animations "fix vendor prefixes"
          </div>
          <div class="pdm-data">
            8:01a tmschl/pants "a new pair"
          </div>
          <div class="pdm-data">
            8:01a tmschl/pants "a new pair"
          </div>
        </div>
      </div>
    </section>
<!--
    {{#each collections.articles}}
      {{{title}}}
    {{/each}}
 -->
  </body>
</html>
