<html>
  {{>head}}
  <body>
    {{>navigation}}

    <div class="about-wrapper">
      <div class="about-photo">
        <img class="about-img" src="public/img/vscocam-photo-1.jpg" alt="">
      </div>
      <div class="about-info">
        <div class="about-facts">
          <h2 class="about-list-header">Facts</h2>
          <ul class="about-list">
            <li>I missed more than 500 classes in high school</li>
            <li>At 6, I wrote my first compiler </li>
            <li>That isn’t true</li>
            <li>At 6 I got in a fight arguing P.O.D. was better than lil bow wow.</li>
            <li>At one point in life I would shoot 1200 jumpers, 3 days a week, before 8am.</li>
          </ul>
        </div>
        <div class="about-hustle">
          <div class="about-list">
            <h2 class="about-list-header">Hustle</h2>
            <ul class="about-list">
              <li class="about-company">Neustar</li>
              <li class="about-company-description">Teaching a public company about design thinking and building swee things.</li>
              <li class="about-company">Keen IO</li>
              <li class="about-company-description">I  interned here. Learned so much from this team. They’re great</li>
              <li class="about-company">Hack Reactor</li>
              <li class="about-company-description">Leaving school in Gainesville to go to Hack Reactor was a great decision.</li>
              <li class="about-company">Futura IO</li>
              <li class="about-company-description"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
