<html>
  {{>head}}
  <body>
    {{>navigation}}

    <div class="about-container">

      <div class="about-wrapper">
        <div class="about-photo">
          <img class="about-img" src="public/img/vscocam-photo-1.jpg" alt="">
        </div>
        <div class="about-info">
          <div class="about-facts">
            <h2 class="about-list-header">Facts</h2>
            <ul class="about-list">
              <li class="about-list-facts">I missed more than 500 classes in high school</li>
              <li class="about-list-facts">At 6, I wrote my first compiler </li>
              <li class="about-list-facts">That isn’t true</li>
              <li class="about-list-facts">At 6 I got in a fight arguing P.O.D. was better than lil bow wow.</li>
              <li class="about-list-facts">At one point in life I would shoot 1200 jumpers, 3 days a week, before 8am.</li>
            </ul>
          </div>
          <div class="about-hustle">
            <h2 class="about-list-header">Hustle</h2>
            <ul class="about-list">
              <li class="about-company"><a href="https://neustar.biz">Neustar</a> (November 2013 - Present)</li>
              <li class="about-company-description">AngularJS JavaScript jQuery CSS3 GruntJS GulpJS HTML5 CSS3</li>
              <li class="about-company"><a href="https://keen.io">Keen IO</a> (March 2013 - July 2013)</li>
              <li class="about-company-description">JavaScript BackboneJS Python Ruby HTML5 CSS3 Vim</li>
              <li class="about-company"><a href="https://hackreactor.com">Hack Reactor</a> (November 2012 - February 2012)</li>
              <li class="about-company-description">JavaScript NodeJS BackboneJS AngularJS MeteorJS jQuery Ruby Rails Mongo MySQL HTML5 CSS3</li>
              <li class="about-company"><a href="https://futura.io">Futura IO</a> (June 2012 - November 2012)</li>
              <li class="about-company-description">HTML5 CSS3 JavaScript jQuery</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
