<html>
  {{>head}}
  <body>
    {{>navigation}}

    <div class="articles-wrapper">
      <div class="articles-container">
        {{#each collections.articles}}
        <div class="article">
          <a href="/articles/{{this.url}}" class="article-title">{{{title}}}</a>
          <p class="article-excerpt">{{excerpt}}</p>
          <div class="article-footer">
            <p class="article-date">{{date}}</p>
            <a href="/articles/{{this.url}}"class="article-more"> Read More >> </a>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="filter-container">
        <div class="filter-item"><a href="#" class="filter-item-text selected">All</a></div>
        <div class="filter-item"><a href="#" class="filter-item-text">Musings</a></div>
        <div class="filter-item"><a href="#" class="filter-item-text">Tech</a></div>
        <div class="filter-item"><a href="#" class="filter-item-text">Stories</a></div>
        <div class="filter-item"><a href="#" class="filter-item-text">Poems</a></div>
      </div>
    </div>

  {{> footer}}
  </body>
</html>
