.nav {
  font-size: 20px;
  display: flex;
  width: 100%;
  padding: 3% 18% 0%;

  .logo-link {
    margin-right: auto;
    color: $blue;
    border-bottom: 2px solid $blue;

    &:hover {
      color: $blue-light;
      border-bottom: 2px solid $blue-light;
    }
  }

  .item {

    a {
      color: $blue;
      margin-left: 35px;

    &:hover {
      color: $blue-light;
    }
    }
  }
}

.intro {
  padding: 0% 18%;
  font-size: 34px;
  color: $gray;

  .intro-text {
    padding-top: 3%;
    margin-top: 0;
    font-weight: 300;
  }
}

.pdm-block {
  display: flex;
  padding: 0% 18%;
  flex-wrap: wrap;
  color: $gray;

  .pdm-block-square {
    width: 33%;
  }

  .pdm-label {
    font-size: 18px;

    .pdm-label-name {
      color: $blue;
    }
  }

  .pdm-data {
    font-size: 14px;
    color: $blue;
  }
}


.article-block {
  padding: 3% 18%;
  color: $gray;
  font-weight: 300;

  .article-label {
    font-size: 18px;

    .article-label-name {
      color: $blue;
    }
  }

  .article-title {
    padding: 2% 0%;
    font-size: 28px;
  }

  .article-preview {
    font-size: 14px;
  }

  .article-read {
    color: $blue;
  }

  .article-footer {
    padding: 2% 0%;
    display: flex;

    .date {
      margin-right: auto;
    }
  }
}
