@media (max-width: 1024px) {
  .item-1,
  .item-2,
  .item-3 {
    display: none;
  }

  .nav {
    width: 100%;
    padding: 3% 3% 0%;

    .logo-link {
      border-bottom: 2px solid #0082ff;
      font-size: 16px;
    }
  }

  .hamburger {
    position: relative;
    padding-left: 1.25em;
  }

  .hamburger:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.05em;
    background: $blue;
    box-shadow:
    0 0.25em 0 0 $blue,
    0 0.5em 0 0 $blue;
  }

  .intro-text {
    font-size: 36px;
  }

  .pdm-block {
    .pdm-block-square {
      // width: 100%;
      // margin-top: 15px;
    }
  }

  .intro, .pdm-block, .article-row {
    padding: 0% 3%;
  }

  .intro-text {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .pdm-block {
    .pdm-block-square {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
