.left-block {
  width: 50%;
  height: 450px;
  background: #364563;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.right-block {
  width: 50%;
  height: 450px;
  background: #cd4254;
  position: absolute;
  top: 0;
  left: 50%;
}

.author-name {
  position: absolute;
  width: 100%;
  margin-top: 100px;

  h1 {
    text-align: center;
    font-size: 2em;
    margin: 0px 0px;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    margin-right: 220px;
    letter-spacing: .1rem;

    span {
      border-bottom: 2px solid #cd4254;
      padding-right: 10px;
    }
  }
}

.icon-placement {
  position: absolute;
  width: 100%;
  margin-top: 170px;
  text-align: center;
  color: white;
  margin-left: 110px;

  span {
    font-size: 2rem;
    border-bottom: 2px solid #364563;
    padding-bottom: 3px;
    padding-left: 15px;
    letter-spacing: .3rem;
  }
}

.greeting {
  position: absolute;
  width: 100%;
  margin-top: 300px;
  text-align: center;

  span {
    color: #fff;
    letter-spacing: .5rem;
    padding-left: .5rem;
    border: 2px solid #fff;
    margin-left: 10px;
    font-size: 2rem;
  }
}


