// ********************
//
// Layout Styles
//
// ********************


.centered {
  text-align: center;
}

.masthead {
  margin: 2em 0;
}

.greeting {
  margin: 10% 0;
}

.container {
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 700px;
}

.circle-image {
	width: 100px;
	height: 100px;
  background: url(../img/tim.jpg);
  background-size: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 10% 0;
}

.greeting {
  margin-top: 10%;
  h1,
  p {
    color: #383838;
  }

  h1 {
    margin-bottom: 12px;
    font-size: 28px;
  }

  p {
    margin-top: 9px;
  }
}
