// ********************
//
// Layout Styles
//
// ********************


.centered {
  text-align: center;
}

.masthead {
  margin: 2em 0;
}

.ace-hood {
  margin-top: 5%;
}

.container {
  position: relative;
  text-align: left;
  margin: 0 auto;
  max-width: 700px;
}

.avatar {
  display: inline-block;
  float: right;
  margin-top: -20px;
}

.circle-image {
	width: 100px;
	height: 100px;
  background: url(../img/tim.jpg);
  background-size: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 10% 0;
  float: right;
}

footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #999;
  margin-top: 15%;
}

.greeting {
  padding-bottom: 2.5%;
  border-bottom: 1px solid #eee;
  margin-bottom: 5%;

  h1 {
    font-size: 42px;
    margin-bottom: 0px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }
}

.intro {

  p {
    // margin-bottom: 5%;
  }
}

.elevator {
  // margin-top: 15%;
}

.navigation {
  position: absolute;

  ul {
    list-style: none;
    margin: 9px 0;
    padding: 0;

  }

  li {
    // padding: 20px;

    a {
      display: block;
      width: 120px;
      height: 60px;
      padding: 20px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      text-align: left;
    }
    &:nth-child(1) {
      background: #ff8b73;
    }
    &:nth-child(2) {
      background: #70f8a3;
    }
    &:nth-child(3) {
      background: #ffd773;
    }
  }
}

.post-titles {
  margin-bottom: 5%;

  a {
    color: #383838;
    border-bottom: 1px solid #b6b6b6;
  }

  p {
    display: inline-block;
    margin: 0;
    color: #b6b6b6;
  }
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .navigation {
    display: none;
  }

  .avatar {
    display: block;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .navigation {
    display: none;
  }

}
