// ********************
//
// Typography Styles
//
// ********************

html {
  font-family: $base-type;
  font-size: $base-type-size;
}

h1 {
  font-size: 28px;
  color: #383838;
  font-weight: 400;
}

p {
  color: #383838;
}

a {
  color: #00aced;
}

footer {
  color: #999;
}
