<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel "shortcut icon" href="/assets/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/assets/lib/normalize-css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/assets/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
    </head>
    <body>

      <div class="ace-hood">
        <div class="navigation">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Work</a></li>
          </ul>
        </div>

        <section class="container about">
          {{ content }}
        </section>
          <footer>
              <div>Tim Schiller</div>
              <br>
              <a href="github.com/tmschl/tmschl.github.io">Source</a>
            </p>
          </footer>
      </div>

    </body>
</html>
