<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel "shortcut icon" href=" ">
        <link rel="stylesheet" type="text/css" href="/assets/lib/normalize-css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/assets/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
    </head>
    <body>

      <div class="ace-hood">
        <div class="navigation">
          <ul>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Writing</a></li>
            <li><a href="/work/">Work</a></li>
          </ul>
        </div>

        <section class="container about">
          <div class="avatar"><div class="circle-image"></div></div>
          <div class="greeting">
            <h1>Tim Schiller</h1>
            <p>Software Engineer at <a href="http://www.neustar.biz">neustar</a></p>
          </div>
          {{ content }}
        </section>
        <section>
          <footer>
              <div>Tim Schiller</div>
              <br>
              <a href="https://github.com/tmschl/tmschl.github.io">Source</a>
            </p>
          </footer>
        </section>
      </div>

    </body>
</html>
